.header{
    background-color: #222f3e;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
}